

<div class="bv-section-insider" style="background-image: url('{{site.img}}/content/gewinnspiel/hero.jpg'); background-size: cover; background-position: top center">
  <div class="container vpad--xxxl text--left text--xxl text--white">
    <div class="container container--no-padding text--center">
      <h2 class="sub-title ">Eine Reise für 2 Personen gewinnen</h2>
      <div class="space--xl"></div>
      <h1 class="banner-title banner-title--sm bv-title-divider ">Zum Gewinnspiel</h1>
      <div class="space--md"></div>
      <a href="{{site.baseurl}}/gewinnspiel" class="btn btn--bv-red" >Jetzt mitmachen</a>
    </div>
  </div>
</div>
